@use "mixins" as mix;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, sans-serif;
}

body {
  background-color: #fcfcfc;
  height: 100vh;
  line-height: 1.4;
}

main {
  display: flex;
  justify-content: space-between;
  max-height: 1330px;
  margin: 2rem;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: end;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
  color: mix.$black;
}

h2 {
  text-align: center;
  color: mix.$gray;
  font-weight: 600;
  font-size: 1.375rem;
}

h3 {
  font-size: 1.5rem;
}
