@use "mixins" as mix;

html {
  font-size: clamp(10px, 1vh + 0.33rem, 16px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, sans-serif;
}

body {
  background-color: #fcfcfc;
  line-height: 1.4;
  padding: 2rem;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1540px;
  position: relative;
}

footer {
  padding: 2rem;
  display: flex;
  justify-content: end;
}

h1 {
  font-size: 2.35rem;
  font-weight: 700;
  text-align: center;
  color: mix.$black;
}

h2 {
  text-align: center;
  color: mix.$gray;
  font-weight: 600;
  font-size: 1.25rem;
}

h3 {
  font-size: 1.5rem;
}

small {
  font-weight: 600;
  font-size: 12px;
}

hr {
  height: 1px;
  background-color: mix.$lightGray;
}

sup {
  font-size: 60%;
}
