$blue100: rgba(60, 131, 246, 1);
$blue90: rgba(60, 131, 246, 0.9);
$blue20: rgba(60, 131, 246, 0.2);
$blue10: rgba(60, 131, 246, 0.1);
$blue5: rgba(60, 131, 246, 0.05);
$gray: rgba(129, 140, 152, 1);
$lightGray: rgba(227, 232, 237, 1);
$navy: rgba(5, 40, 97, 1);
$black: rgba(33, 38, 44, 1);

$boxShadow01: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.08);
$boxShadow02: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
