@use "base";
@use "mixins" as mix;

.ui-container {
  padding: 40px 2rem;
  background-color: #fff;
  border-radius: 12px;
  width: 450px;
  border: 1px solid mix.$lightGray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: mix.$boxShadow01;
}

.btn {
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  padding: 12px 1.5rem;
  margin: 12px 0;
  font-weight: 500;

  &__primary {
    background-color: mix.$blue100;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: 12px 1.5rem;

    &--deal {
      font-size: 1.5rem;
      padding: 1.125rem 1.5rem;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__secondary {
    border: 1px solid mix.$blue100;
    color: mix.$blue100;
  }
}

.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

/* --------------- START BETTING CONTAINER STYLING --------------- */

.betting-container {
  margin-top: 2rem;
}
.chip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.chip {
  border: 1px solid mix.$lightGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  margin: 1rem;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 90px;
  height: 90px;
}

.btn-group {
  display: flex;

  .btn {
    flex: 1;
    justify-content: center;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
/* --------------- END BETTING CONTAINER STYLING --------------- */
/* --------------- START BALANCE CONTAINER STYLING --------------- */

.balance-bet-container {
  display: flex;
  background-color: mix.$blue5;
  border: 1px solid mix.$lightGray;
  border-radius: 4px;
  padding: 18px 10px;

  .amount {
    text-align: center;
    width: 100%;
    color: mix.$black;

    &__num {
      font-size: 2rem;
      font-weight: 600;
    }
    &:last-child {
      border-left: 1px solid mix.$blue20;
    }
  }
}
/* --------------- END BALANCE CONTAINER STYLING --------------- */

.make-a-play-container {
  margin-top: 1.5rem;
}

/* --------------- START BETTING POOL STYLING --------------- */
.betting-pool-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   background-color: pink;
  flex: 1;
  width: max-content;
}

.betting-pool {
  text-align: center;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: mix.$lightGray;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: mix.$lightGray;
  }

  .break {
    height: 1px;
    width: 150%;
    background-color: mix.$lightGray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .currency {
    font-size: 2.75rem;
    font-weight: 500;
    letter-spacing: -1px;
    position: relative;
  }
}
/* --------------- END BETTING POOL STYLING --------------- */

/* --------------- START CARD STYLING --------------- */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  //   background-color: aquamarine;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: min-content;
  height: 100%;
}

.hand {
  //   height: 45vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4em;
}

.name {
  font-size: 0.8rem;
  font-weight: 700;
  color: mix.$black;
  letter-spacing: 0;
}

.card-group {
  display: flex;
  position: relative;
  text-align: center;

  &__dealer {
    .card {
      &:first-of-type {
        transform: translate(20px, -22px);
      }
      &:last-of-type {
        transform: translate(-20px, 22px);
      }
    }
  }
  &__player {
    .card {
      &:first-of-type {
        transform: translate(20px, 22px);
      }
      &:last-of-type {
        transform: translate(-20px, -22px);
      }
    }
  }

  &:last-child {
    &::after {
      content: "3";
      text-align: center;
      position: absolute;
      width: 1.25em;
      height: 1.25em;
      padding: 1em;
      border: 1px solid mix.$blue100;
      border-radius: 50%;
      bottom: -124px;
      right: 22px;
      font-size: 1.375rem;
      font-weight: 700;
      color: mix.$blue100;
    }
  }
  &:first-child {
    &::before {
      content: "19";
      text-align: center;
      position: absolute;
      width: 1.25em;
      height: 1.25em;
      padding: 1em;
      border: 1px solid mix.$blue100;
      border-radius: 50%;
      top: -100px;
      left: 22px;
      font-size: 1.375rem;
      font-weight: 700;
      color: mix.$blue100;
    }
  }
}

.card {
  width: 174px;
  height: 258px;
  border-radius: 1rem;
  border: 1px solid mix.$lightGray;
  box-shadow: mix.$boxShadow02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 88px;
  background-color: #fcfcfc;
  position: relative;

  &__pattern::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    background-color: mix.$blue20;
    border-radius: 4px;
  }

  .num {
    font-weight: 600;
    color: mix.$black;
  }

  .suit img {
    height: 88px;
    fill: mix.$blue100;
  }
}
/* --------------- END CARD STYLING --------------- */

/* --------------- START GAME INFO STYLING --------------- */
.game-info {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__card {
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid mix.$lightGray;
    border-radius: 6px;
    box-shadow: mix.$boxShadow01;

    hr {
      margin: 14px 0;
    }
  }
  &__block {
    display: flex;
  }

  &__content {
    padding: 0 14px;
    margin-top: 4px;

    p {
      color: mix.$gray;
    }
  }
}
.square-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: mix.$blue10;
  border-radius: 6px;
  display: flex;
  justify-content: center;

  img {
    width: 16px;
    height: auto;
  }
}
/* --------------- END GAME INFO STYLING --------------- */
