* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, sans-serif;
}

body {
  background-color: #fcfcfc;
}

main {
  display: flex;
}

.ui-container {
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
}
