@use "base";
@use "mixins" as mix;

.ui-container {
  display: flex;
  flex-direction: column;
}

.ui {
  padding: 1.75rem;
  background-color: #fff;
  border-radius: 0.75rem;
  border: 1px solid mix.$lightGray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: mix.$boxShadow01;
}

.make-a-play-container {
  margin-top: 1rem;
}

.btn {
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0.65rem 0;
  font-weight: 500;

  &__primary {
    background-color: mix.$blue100;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    transition: all 0.2s ease;
    opacity: 1;

    &--active:hover {
      opacity: 0.85;
    }

    &--deal {
      font-size: 1.5rem;
      padding: 1rem;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__secondary {
    border: 1px solid mix.$blue100;
    color: mix.$blue100;
  }
}

.disabled {
  opacity: 0.25;
  cursor: default;
}

/* --------------- START BETTING CONTAINER STYLING --------------- */

.betting-container {
  margin-top: 1rem;
}
.chip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.chip {
  border: 1px solid mix.$lightGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  margin: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  width: 5.25rem;
  height: 5.25rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    // background-color: mix.$blue10;
    border-color: mix.$blue100;
    color: mix.$blue100;
    box-shadow: mix.$boxShadow01;
    cursor: pointer;
  }
}

.btn-group {
  display: flex;

  .btn {
    flex: 1;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: mix.$blue10;
    }

    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
/* --------------- END BETTING CONTAINER STYLING --------------- */
/* --------------- START BALANCE CONTAINER STYLING --------------- */

.balance-bet-container {
  display: flex;
  background-color: mix.$blue5;
  border: 1px solid mix.$lightGray;
  border-radius: 4px;
  padding: 1rem 0.625rem;

  .amount {
    text-align: center;
    width: 100%;
    color: mix.$black;

    &__num {
      font-size: 2rem;
      font-weight: 600;
    }
    &:last-child {
      border-left: 1px solid mix.$blue20;
    }
  }
}
/* --------------- END BALANCE CONTAINER STYLING --------------- */

/* --------------- START BETTING POOL STYLING --------------- */
.betting-pool-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: max-content;
}

.betting-pool {
  text-align: center;
  position: relative;
  margin: 2rem;
  min-width: 7rem;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 90%;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: mix.$black;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 90%;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: mix.$black;
  }

  .break {
    height: 1px;
    width: 140%;
    background-color: mix.$black;
    margin: 0.5rem 0;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    transform: translateX(-14%);
  }

  .currency {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    position: relative;
  }
}
/* --------------- END BETTING POOL STYLING --------------- */

/* --------------- START CARD STYLING --------------- */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
  //   background-color: aquamarine;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hand {
  //   height: 45vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.name {
  font-size: 0.8rem;
  font-weight: 700;
  color: mix.$black;
  letter-spacing: 0;
}

.card-group {
  display: flex;
  position: relative;
  text-align: center;

  &__dealer {
    .card {
      &:first-of-type {
        transform: translate(1.25rem, -1.375rem);
      }
      &:last-of-type {
        transform: translate(-1.25rem, 1.375rem);
      }
    }
  }
  &__player {
    .card {
      &:first-of-type {
        transform: translate(1.25rem, 1.375rem);
      }
      &:last-of-type {
        transform: translate(-1.25rem, -1.375rem);
      }
    }
  }

  &:last-child {
    &::after {
      content: "3";
      text-align: center;
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      padding: 1.5rem;
      border: 1px solid mix.$blue100;
      border-radius: 50%;
      bottom: -7rem;
      right: 1.375rem;
      font-size: 1.375rem;
      font-weight: 700;
      color: mix.$blue100;
      line-height: 1;
    }
  }
  &:first-child {
    &::before {
      content: "19";
      text-align: center;
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      padding: 1.5rem;
      border: 1px solid mix.$blue100;
      border-radius: 50%;
      top: -5.5rem;
      left: 1.375rem;
      font-size: 1.375rem;
      font-weight: 700;
      color: mix.$blue100;
      line-height: 1;
    }
  }
}

.card {
  width: 9.875rem;
  height: 15.125rem;
  border-radius: 1rem;
  border: 1px solid mix.$lightGray;
  box-shadow: mix.$boxShadow02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 5.5rem;
  background-color: #fcfcfc;
  position: relative;

  &__pattern::after {
    content: "";
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    right: 0.8rem;
    bottom: 0.8rem;
    background-color: mix.$blue20;
    border-radius: 0.35rem;
  }

  .num {
    font-weight: 600;
    color: mix.$black;
  }

  .suit img {
    height: 5.5rem;
    fill: mix.$blue100;
  }
}
/* --------------- END CARD STYLING --------------- */

/* --------------- START GAME INFO STYLING --------------- */
.game-info {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
  }

  &__card {
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid mix.$lightGray;
    border-radius: 0.375rem;
    box-shadow: mix.$boxShadow01;
    margin: 0 1rem;

    hr {
      margin: 0.875rem 0;
    }
  }
  &__block {
    display: flex;
  }

  &__content {
    padding: 0 0.875rem;
    margin-top: 0.3125rem;

    p {
      color: mix.$gray;
    }
  }
}
.square-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: mix.$blue10;
  border-radius: 0.375rem;
  display: grid;
  place-items: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;

  img {
    height: 1.25rem;
    width: auto;
  }
}
/* --------------- END GAME INFO STYLING --------------- */
