@use "base";
@use "mixins" as mix;

.ui-container {
  padding: 40px 2rem;
  background-color: #fff;
  border-radius: 12px;
  width: 450px;
  border: 1px solid mix.$lightGray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: mix.$boxShadow01;
}

.btn {
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  padding: 12px 1.5rem;
  margin: 12px 0;
  font-weight: 500;

  &__primary {
    background-color: mix.$blue100;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 6px;
    padding: 12px 1.5rem;

    &--deal {
      font-size: 1.5rem;
      padding: 1.125rem 1.5rem;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__secondary {
    border: 1px solid mix.$blue100;
    color: mix.$blue100;
  }
}

.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

/* --------------- START BETTING CONTAINER STYLING --------------- */

.betting-container {
  margin-top: 2rem;
}
.chip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.chip {
  border: 1px solid mix.$lightGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  margin: 1rem;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 90px;
  height: 90px;
}

.btn-group {
  display: flex;

  .btn {
    flex: 1;
    justify-content: center;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}
/* --------------- END BETTING CONTAINER STYLING --------------- */
/* --------------- START BALANCE CONTAINER STYLING --------------- */

.balance-bet-container {
  display: flex;
  background-color: mix.$blue5;
  border: 1px solid mix.$lightGray;
  border-radius: 4px;
  padding: 18px 10px;

  .amount {
    text-align: center;
    width: 100%;
    color: mix.$black;
    small {
      font-weight: 600;
      font-size: 12px;
    }
    &__num {
      font-size: 2rem;
      font-weight: 600;
    }
    &:last-child {
      border-left: 1px solid mix.$blue20;
    }
  }
}
/* --------------- END BALANCE CONTAINER STYLING --------------- */

.make-a-play-container {
  margin-top: 1.5rem;
}

.card-group {
  display: flex;
}

.card {
  width: 174px;
  height: 258px;
  border-radius: 1rem;
  border: 1px solid mix.$lightGray;
  box-shadow: mix.$boxShadow02;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 0 1.5rem;
  font-size: 88px;
  background-color: #fcfcfc;

  &__top {
    z-index: 999;
    transform: translateY(-50px) translateX(-40px);
  }

  .num {
    font-weight: 600;
    color: mix.$black;
  }

  .suit img {
    height: 88px;
    fill: mix.$blue100;
  }
}
